* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background: #111;
    color: #fff;
}

.container-wrap {
    width: 1100px;
    height: 620px;
    margin: 5rem auto;
    background: #222;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); /* แกนX แกนY ความฟุ้ง ขอบเขตความฟุ้ง */
}

.container {
    width: 1050px;
    margin: 0 auto;
}

/* header */

.name-page-menu {
    padding: .5rem 0;
}

nav ul.menu {
    display: flex;
    margin: 23px 0;
}

ul.menu li {
    margin-right: 1.7rem;
    font-size: 12px;
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    color: #777;
    border-bottom: 1px solid transparent; /* transparent คือ ทำให้โปร่งใส */
    padding-bottom: 1px;
    transition: 0.2s ease;
}

/* hover menu */

ul.menu li a:hover {
    color: #eee;
    border-bottom: 1px solid greenyellow;
    padding-bottom: 4px;
}

/* end hover menu */

/*end header */

/* section */

.name-list-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.arrow {
    cursor: pointer; /* ใส่ cursor pointer เพื่อให้กล่องของ div arrow เป็น cursor pointer ทั้งหมด ไม่ให้มี cursor อื่น */
}

.arrow a i {
    font-size: 20px;
    font-weight: 500;
    margin-left: 0.5rem;
    color: #777;
    transition: 0.3s;
}

/* hover arrow */

.arrow a i:hover {
    color: #eee;
}

/* end hover arrow */

.list-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.list-items-section-img img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    transform: scale(1); /* กำหนด scale ของรูปภาพ */
    transition: 0.1s ease-in-out;
}

/* hover img */

.list-items-section-img img:hover {
    transform: scale(0.95); /* กำหนด scale ของรูปภาพ */
    border-radius: 15px;
}

/* end hover img */

.list-items-info span {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
}

.list-items-info span a {
    text-decoration: none;
    color: #777;
    transition: 0.3s;
}

span.topic {
    font-size: 15px;
    margin: 8px 0;
}

span.topic a {
    color: #999;
    transition: 0.3s;
}

/* hover info */

span.topic a:hover, .list-items-info span a:hover {
    color: #eee;
}

/* end hover info */

/* end section */

/* footer */

footer {
    border-top: 1px solid #333;
    margin-top: 5.5rem;
}

.list-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 15px 0 5px 0; /* บน ขวา ล่าง ซ้าย */
}

.list-items-blog-footer {
    text-align: center;
    font-size: 13px;
    color: #999;
}

span.title {
    font-size: 20px;
    z-index: 1; /* ให้ตัวอักษรอยู่ข้างบน เพื่อไม่ให้ถูกทึบแสงตามที่กำหนด opacity ของรูปภาพไว้ */
}

.list-items-footer-img img {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
}

span.title a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.list-items-footer-img { /* กำหนดกล่องใหญ่นี้เป็น relative เพื่อนำข้อความใส่ในกล่องนี้ได้ */
    position: relative;
}

.list-items-footer-img span { /* กำหนดกล่องข้อความนี้เป็น absolute เพื่อนำข้อความใส่ในกล่องที่กำหนดเป็น relative */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* เพื่อจัดตำแหน่งให้อยู่กึ่งกลาง */
}

/* hover img */

.list-items-footer-img {
    filter: grayscale(100%); /* ทำภาพเป็นขาวดำ */
    transition: 0.5s;
}

.list-items-footer-img:hover {
    filter: grayscale(0%);
}

/* end hover img */

/* end footer */

/* responsive ค่อยมาเสริมทีหลัง */